@model User

@{
    ViewData["Title"] = "Home";
    ViewData["SessionUser"] = Model.Username;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12">
    <div class="card l-form" id="l-form">
        <div class="loader-overlay"></div>
        <div class="card-header">
        </div>
        <div class="card-body">
            <div class="row ">
                <div class="col-4">
                    <h3 style="margin-bottom: 3rem;">My Appointment List</h3>
                </div>

                <div class="col-4 float-right" style="left:-5.5rem;">
                    <label>
                        <b>Select Date</b>
                    </label>
                    <input type="text" class="form-control date-picker" id="scheduledDateFilter" placeholder="Select Date">
                </div>

                <div class="col-4" style="left: -7rem;">
                    <label>
                        <b>Select Appointment's Status</b>
                    </label>
                    <select class="pc-selectpicker form-control" id="appointmentFilter">
                        <option value="3">All Of Them</option>
                        <option value="0">Waiting</option>
                        <option value="1">Discussed</option>
                        <option value="2">Cancelled</option>
                    </select>
                </div>

                <button type="submit"
                        onclick=AppointmentHistoryFilter()
                        style="background-color: 1B00FF; position: relative; left: 85rem; bottom: 3rem;"
                        class="btn btn-info">
                    Select
                </button>
            </div>

            <div id="appointment-history" class="mt-3">

            </div>
        </div>
    </div>
</div>

<script src="~/UI/login-form-19/js/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<script>
    //$(document).ready(function () {
    //    AppointmentHistory();
    //});

    //function AppointmentHistory() {

    //    $.post("/Appointment/AppointmentListByUserViewComponent", function (data) {
    //        $("#appointment-history").html(data);
    //    });
    //};

    function AppointmentHistoryFilter() {
        var time = $("#scheduledDateFilter").val();
        var statusId = $("#appointmentFilter").val();

        $.ajax({
            url: '@Url.Action("AppointmentListByUserViewComponent", "Appointment")',
            data: {
                time,
                statusId
            },
            method: "POST",
            success: function (data) {
                if (data != null) {
                    $("#appointment-history").html(data);
                }
            },
            error: (xhr) => {
                console.log(xhr);
            }
        })
    }
</script>






