@model User
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>CRM Service User Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/UI/login-form-19/css/style.css">

</head>
<body style="background-color: #0d324d !important ">
    <div id="error-message" class="d-none" style="margin-top: 3rem;">
        @Html.Partial("ForgotPasswordErrorPartial", "Login")
    </div>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section" style="color: #FFF; background-color: #000232; text-align: center; border-radius: 5px;">CRM Service User Login</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap py-5">
                        <img style="margin-left: 3.5rem; margin-bottom:1rem; " src="~/deskapp2-master/vendors/images/apple-touch-icon.png" />
                        <h3 class="text-center mb-0">Welcome</h3>
                        <p class="text-center">Please Enter Your Email</p>

                        <div class="form-group">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
                            <input type="text" class="form-control" name="Email" id="email" placeholder="Email" required>
                        </div>

                        <div class="form-group">
                            <button type="submit"
                                    class="btn form-control btn-primary rounded submit px-3"
                                    onclick=ForgotPassword()>
                                Send
                            </button>
                        </div>
                        <div class="w-100 text-center mt-4 text">
                            <a href="/Login">Back To Dash</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/UI/login-form-19/js/jquery.min.js"></script>
    <script src="~/UI/login-form-19/js/popper.js"></script>
    <script src="~/UI/login-form-19/js/bootstrap.min.js"></script>
    <script src="~/UI/login-form-19/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</body>
</html>

<script>
    function ForgotPassword() {
        var email = $('#email').val();


            $.ajax({
                url: '@Url.Action("VerifyPassword", "Login")',
                data: {
                    email,

                },
                method: "POST",
                success: (response) => {
                    if (response == true) {
                        window.location.href = "/Login/VerifyPassword";

                    }
                    else {
                        $("#error-message").removeClass("d-none");
                    }
                },
                error: (xhr) => {
                    console.log(xhr);
                }
            })
        }
</script>