<h2>
    <div style="text-align: center;">
        <span class="badge badge-warning" style=" color: #FFF; background-color: #000232;">
            Kullanıcı Bilgileri Hatalı
        </span>
    </div>
</h2>